<div id="nbaDashboard" class="bg-primary bg-opacity-25 vh-100 d-flex align-items-center">
    <div class="container d-flex justify-content-evenly">
        <div class="col-md-5 vh-100 d-flex align-items-center justify-content-center">
            <div class="card h-75 w-100 border-0 rounded-4 shadow-lg" 
                style="background-image: url('basketball.jpg'); 
                    background-size: cover;
                    background-position: center;">
                <div class="card-body p-4">
                    <h5 class="card-title fw-bold">Teams</h5>
                    <p class="card-text text-muted">
                        NBA team details
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 vh-100 d-flex align-items-center justify-content-center">
            <div class="card h-75 w-100 border-0 rounded-4 shadow-lg" 
                style="background-image: url('basketball.jpg'); 
                    background-size: cover;
                    background-position: center;">
                <div class="card-body p-4">
                    <h5 class="card-title fw-bold">Players</h5>
                    <p class="card-text text-muted">
                        NBA player details
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>