<div class="container-fluid py-5 bg-primary bg-gradient bg-opacity-25 vh-100">
  <div class="container">
    <div class="row g-4">

      <!-- Card 1 -->
      <div class="col-md-4" (click)="loadNbaDashboard()">
        <div class="card h-100 border-0 rounded-4 shadow-lg">
          
          <div class="card-img-top p-4 rounded-top-4 bg-light">
            <img
              src="basketball.jpg"              
              class="img-fluid rounded-4"
              alt="Magic Edit"
            />
          </div>

          <div class="card-body p-4">
            <h5 class="card-title fw-bold">Basketball</h5>
            <p class="card-text text-muted">
              Team and Player details of NBA teams
            </p>
            
            <div class="d-flex justify-content-between">
                <div>
                    <span class="badge rounded-pill text-bg-light fw-semibold">
                    👑 PRO
                    </span>
                </div>
                <div class=""><button class="btn btn-outline-secondary" >More info</button></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card h-100 border-0 rounded-4 shadow-lg">
          
          <div class="card-img-top p-4 rounded-top-4 bg-info bg-opacity-25">
            <img
              src="football.jpg"
              class="img-fluid rounded-4 w-100"
              alt="Magic Eraser"
            />
          </div>

          <div class="card-body p-4">
            <h5 class="card-title fw-bold">Football</h5>
            <p class="card-text text-muted">
              Team and Player details of Football teams
            </p>

            <div class="d-flex justify-content-between">
                <div>
                    <span class="badge rounded-pill text-bg-light fw-semibold">
                    👑 PRO
                    </span>
                </div>
                <div class=""><button class="btn btn-outline-secondary" (click)="loadNbaDashboard()">More info</button></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card h-100 border-0 rounded-4 shadow-lg">
          
          <div class="card-img-top p-4 rounded-top-4 bg-warning bg-opacity-25">
            <img
              src="nfl.jpg"
              class="img-fluid rounded-4 w-100"
              alt="Magic Grab"
            />
          </div>

          <div class="card-body p-4">
            <h5 class="card-title fw-bold">NFL</h5>
            <p class="card-text text-muted">
              Team and Player details of NFL teams
            </p>

            <div class="d-flex justify-content-between">
                <div>
                    <span class="badge rounded-pill text-bg-light fw-semibold">
                    👑 PRO
                    </span>
                </div>
                <div class=""><button class="btn btn-outline-secondary" (click)="loadNbaDashboard()">More info</button></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-4">
        <div class="card h-100 border-0 rounded-4 shadow-lg">
          
          <div class="card-img-top p-4 rounded-top-4 bg-warning bg-opacity-25">
            <img
              src="mlb.jpg"
              class="img-fluid rounded-4"
              alt="Magic Grab"
            />
          </div>

          <div class="card-body p-4">
            <h5 class="card-title fw-bold">MLB</h5>
            <p class="card-text text-muted">
              Team and Player details of MLB teams
            </p>

            <div class="d-flex justify-content-between">
                <div>
                    <span class="badge rounded-pill text-bg-light fw-semibold">
                    👑 PRO
                    </span>
                </div>
                <div class=""><button class="btn btn-outline-secondary" (click)="loadNbaDashboard()">More info</button></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card h-100 border-0 rounded-4 shadow-lg">
          
          <div class="card-img-top p-4 rounded-top-4 bg-primary bg-opacity-25">
            <img
              src="mma.jpg"
              class="img-fluid rounded-4"
              alt="Magic Grab"
            />
          </div>

          <div class="card-body p-4">
            <h5 class="card-title fw-bold">MMA</h5>
            <p class="card-text text-muted">
              Team and Player details of MMA teams
            </p>

            <div class="d-flex justify-content-between">
                <div>
                    <span class="badge rounded-pill text-bg-light fw-semibold">
                    👑 PRO
                    </span>
                </div>
                <div class=""><button class="btn btn-outline-secondary" (click)="loadNbaDashboard()">More info</button></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card h-100 border-0 rounded-4 shadow-lg">
          
          <div class="card-img-top p-4 rounded-top-4 bg-light bg-opacity-25">
            <img
              src="e_sports.jpg"
              class="img-fluid rounded-4"
              alt="Magic Grab"
            />
          </div>

          <div class="card-body p-4">
            <h5 class="card-title fw-bold">E-sports</h5>
            <p class="card-text text-muted">
              Team and Player details of E-sports teams
            </p>

            <div class="d-flex justify-content-between">
                <div>
                    <span class="badge rounded-pill text-bg-light fw-semibold">
                    👑 PRO
                    </span>
                </div>
                <div class=""><button class="btn btn-outline-secondary" (click)="loadNbaDashboard()">More info</button></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

