.progress-container {
  position: relative;
  display: inline-block;
}

.progress-svg {
  transform: rotate(-90deg);
}

.progress-bg {
  stroke: #e9ecef;
}

.progress-bar {
  /*  primary color */
  stroke-linecap: round;
  transition: stroke-dashoffset 0.6s ease;
}

/* Inner text */
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  font-weight: 600;
  color: #6f5ef9;
}
